body {
    font-family: 'Roboto', sans-serif;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div#container {
    border: 2px solid gray;
    width: 400px;
    margin: 80px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

h1 {
    background: #f7797d;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666;
    cursor: pointer;
}

/* Apply background to every other li element */
li:nth-child(2n) {
    background-color: #f7f7f7;
}

input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    font-family: 'Roboto', sans-serif;
    color: #2980b9;
    /* The border line here is VERY VALUABLE -- 
        allows you to force the input from knocking aside other elements when active
        by giving it an invisible border when inactive equal to the size of the border it gets when active */
    border: 3px solid rgba(0,0,0,0);
    margin: 0%;
}

input:focus {
    outline: none;
    background: white;
    border: 3px solid #f7797d;
    z-index: 100;
}

input::placeholder {
    color: rgba(0,0,0,0.2);
}

span {
    width: 0px;
    background: #e74c3c;
    margin-right: 20px;
    text-align: center;
    color: white;
    height: 40px;
    transition: .3s linear;
    display: inline-block;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

.far {
    float: right;
    margin-top: 2px;
}